<div class="cont-info">
  <form [formGroup]="conversionForm" (ngSubmit)="onSubmitConversion()">
    <div class="title">Converter texto</div>
    <div class="contFormConverter">
      Idioma:
      <select name="select">
        <option value="valor1">Alemão</option>
        <option value="valor2" selected>Português</option>
        <option value="valor3">Inglês</option>
      </select>

      Voz:
      <select name="select" formControlName="voice">
        <option *ngFor="let voicee of voices" [value]="voicee.id">  {{ voicee.name }}   </option>
      </select>

      <!-- Velocidade: -->
      <!-- select name="select">
        <option value="valor1">Alemão</option>
        <option value="valor2" selected>Português</option>
        <option value="valor3">Inglês</option>
      </select -->
      <div class="espacamento"></div>
      <div class="contFull">
        <label>Titulo</label>
        <input formControlName="title" placeholder="Digite seu nome completo" />

        <label>Mensagem</label>
        <textarea formControlName="text" id="story" name="story" rows="5" cols="33">
          It was a dark and stormy night...
          </textarea
        >
        <div class="buttonDefault">
          <button>Converter texto</button>
        </div>
      </div>
    </div>
  </form>
</div>
