<div class="cont-info">
  <div class="title">Meus dados</div>
  <div class="cont-form">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitUserForm()" >
      <label> Primeiro Nome </label>
      <input formControlName="first_name" placeholder="Digite seu nome" />
      <label> Sobrenome </label>
      <input formControlName="last_name" placeholder="Digite seu ultimo nome" />
      <label> E-mail </label>
      <input formControlName="email" placeholder="Qual seu e-mail?" />

      <div class="buttonDefault">
        <button>Salvar alterações</button>
      </div>
    </form>
  </div>

  <!-- 
  <div class="title">Alterar senha</div>
  <div class="cont-form">
    <label> Senha atual </label>
    <input placeholder="Crie uma senha" />
    <label> Nova senha </label>
    <input placeholder="Crie uma senha" />
    <label> Confirme nova senha </label>
    <input placeholder="Crie uma senha" />
    <div class="buttonDefault">
      <button>Salvar alterações</button>
    </div>
  </div>

  -->

</div>
