<header>
  <div class="logo"><img src="./assets/images/logo-audile-white.png" /></div>
  <div class="logout"><img src="./assets/images/logout.png" /></div>
  <div class="imgProfile"></div>
</header>

<div class="contInfo">
  <div class="menu">
    <div class="user">
      <div class="imgProfileMenu"></div>
      <b>Olá,</b> Aline Marinho
    </div>
    <ul>
      <li>
        <a
          (click)="changeTab('myData')"
          [ngClass]="{
            active: myData,
            notActive: !myData
          }"
          routerLinkActive="active"
          >Meus dados</a
        >
      </li>
      <li>
        <a
          [ngClass]="{
            active: convert,
            notActive: !convert
          }"
          (click)="changeTab('convert')"
          routerLinkActive="active"
          >Converter</a
        >
      </li>
      <li>
        <a
          [ngClass]="{
            active: myAudios,
            notActive: !myAudios
          }"
          (click)="changeTab('myAudios')"
          routerLinkActive="active"
          >Meus áudios</a
        >
      </li>
      <li>
        <a
          [ngClass]="{
            active: plans,
            notActive: !plans
          }"
          (click)="changeTab('plans')"
          routerLinkActive="active"
          >Planos</a
        >
      </li>
    </ul>
  </div>

  <app-my-data *ngIf="selectedTab === 'myData'"></app-my-data>
  <app-my-audios *ngIf="selectedTab === 'myAudios'"></app-my-audios>
  <app-plans *ngIf="selectedTab === 'plans'"></app-plans>
  <app-convert *ngIf="selectedTab === 'convert'"></app-convert>
</div>
