<section id="register">
  <div class="contTela">
    <div class="logo"><img src="./assets/images/logo-audile.png" /></div>
    <div class="contFull text">Faça login para entrar no Audile</div>
    <div class="redeSocial">
      <img src="./assets/images/facebook.png" />
      <img src="./assets/images/gmail.png" />
    </div>
    <div class="contFull">Ou use sua conta de e-mail</div>

    <div class="contFull">
      <div class="contForm">
        <label> E-mail </label>
        <input placeholder="Qual seu e-mail?" />
        <label> Senha </label>
        <input placeholder="Crie uma senha" />
        <div class="buttonDefault">
          <button routerLink="/admin">Acessar conta</button>
        </div>
        <div class="contFull notAccount">
          Não possui acesso? <b routerLink="/register">Crie agora!</b>
        </div>
      </div>
    </div>
  </div>
  <div class="contTelaImg"></div>
</section>
