<section id="register">
  <div class="contTela">
    <div class="logo"><img src="./assets/images/logo-audile.png" /></div>
    <div class="contFull text">Faça login para entrar no Audile</div>
    <div class="redeSocial">
      <img src="./assets/images/facebook.png" />
      <img src="./assets/images/gmail.png" />
    </div>
    <div class="contFull">Ou use sua conta de e-mail</div>

    <div class="contFull">
      <div class="contForm">
        <form [formGroup]="form" (ngSubmit)="onLogin()">
          <label> E-mail </label>
          <input placeholder="Qual seu e-mail?" formControlName="email"/>
          <label> Senha </label>
          <input placeholder="Crie uma senha" formControlName="password"/>
          <div class="buttonDefault">
            <button>Acessar conta</button>
          </div>
          <div class="contFull notAccount">
            Não possui acesso? <b routerLink="/register">Crie agora!</b>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="contTelaImg"></div>
</section>
