<section id="register">
  <div class="contTela">
    <div class="home"></div>
    <div class="logo"><img src="./assets/images/logo-audile.png" /></div>
    <div class="contFull text">Inscreva-se grátis e comece a curtir.</div>
    <div class="redeSocial">
      <img src="./assets/images/facebook.png" />
      <img src="./assets/images/gmail.png" />
    </div>
    <div class="contFull">Ou use seu e-mail para se cadastrar</div>

    <div class="contFull">
      <div class="contForm">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <label> Nome completo </label>
          <input
            placeholder="Digite seu nome completo"
            formControlName="first_name"
          />
          <label> E-mail </label>
          <input placeholder="Qual seu e-mail?" formControlName="email"/>
          <label> Senha </label>
          <input placeholder="Crie uma senha" formControlName="password"/>
          <div class="buttonDefault">
            <button>Criar conta</button>
          </div>
        </form>
        <div class="contFull notAccount">
          Já possui tem acesso? <b routerLink="/login">Entre agora!</b>
        </div>
      </div>
    </div>
  </div>
  <div class="contTelaImg"></div>
</section>
