<header class="header">
  <a href="" class="logo"><img src="./assets/images/logo-audile.png" /></a>
  <div class="contButtonHeader" *ngIf="!isLogged">
    <div class="buttonDefault">
      <button routerLink="/register">Criar conta</button>
    </div>
    <div class="buttonOutline">
      <button routerLink="/login">Login</button>
    </div>
  </div>
  <div class="contButtonHeaderLogged" *ngIf="isLogged">
    <div class="buttonDefault">
      <button routerLink="/admin">Acessar Painel</button>
    </div>
  </div>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="#converterAudio">Vozes</a></li>
    <li><a href="#comoFunciona">Como funciona</a></li>
    <li><a href="#planos">Preços</a></li>
    <li><a href="#contato">Contato</a></li>
  </ul>
</header>
<section id="home">
  <div class="banner">
    <div class="cont-info-banner">
      <div class="chamada">
        <b>Transforme</b> seus<br />
        textos em <br />
        <b>áudio</b>
      </div>
      <div class="text">
        A ferramenta ideal para gerar<br />
        seus <b>audiobooks</b> e material de <b>estudo</b>.
      </div>

      <div class="card">
        <img src="./assets/images/icon-audile.png" />
        Inscreva-se para ter acesso a <br />
        <b>diversas funcionalidades</b>.
      </div>
    </div>
    <div class="info">
      Escolha um idioma
      <div class="idioma">
        <div class="idiomaOne">English</div>
        <div class="circulo"></div>
        <div class="idiomaTwo">Português</div>
      </div>
      <div class="cont-text">
        <textarea id="story" name="story" rows="5" cols="33">
 O Audile é uma ferramenta online que converte texto em áudio (mp3) de forma rápida e fácil. Obrigado por usar o Soar.
              </textarea
        >
      </div>
      <div class="buttonLine">
        <button>Converter texto</button>
      </div>
      <div class="cont-play">
        <!-- ngx-audio-player
          [playlist]="msaapPlaylist"
          [displayTitle]="msaapDisplayTitle"
          [autoPlay]="true"
          muted="muted"
          [displayPlaylist]="msaapDisplayPlayList"
          [displayVolumeControls]="msaapDisplayVolumeControls"
          [displayRepeatControls]="msaapDisplayRepeatControls"
          [disablePositionSlider]="msaapDisablePositionSlider"
          [displayArtist]="msaapDisplayArtist"
          [displayDuration]="msaapDisplayDuration"
          [expanded]="false"
        ></ngx-audio-player -->
      </div>
    </div>
  </div>
</section>

<section id="converterAudio">
  <div class="contText">
    <div class="title">
      Conheça todas as<br />
      nossas vozes.
    </div>
    <div class="text">
      São mais de <b>5 idiomas</b> disponíveis<br />
      com vozes dos gêneros
      <b
        >masculino e<br />
        feminino.</b
      >
    </div>
  </div>
  <div class="audio">
    Ouça agora:
    <select name="select">
      <option value="valor1">Alemão</option>
      <option value="valor2" selected>Português</option>
      <option value="valor3">Inglês</option>
    </select>
    <select name="select">
      <option value="valor1">Masculino</option>
      <option value="valor2" selected>Feminino</option>
    </select>
    <div class="contFull">
      <div class="cont-play">
        <!-- ngx-audio-player
          [playlist]="msaapPlaylist"
          [displayTitle]="msaapDisplayTitle"
          [autoPlay]="true"
          muted="muted"
          [displayPlaylist]="msaapDisplayPlayList"
          [displayVolumeControls]="msaapDisplayVolumeControls"
          [displayRepeatControls]="msaapDisplayRepeatControls"
          [disablePositionSlider]="msaapDisablePositionSlider"
          [displayArtist]="msaapDisplayArtist"
          [displayDuration]="msaapDisplayDuration"
          [expanded]="false"
        ></ngx-audio-player -->
      </div>
    </div>
    <div class="contFull">
      Use fones de ouvido para aproveitar toda experiência
    </div>
  </div>
</section>

<section id="comoFunciona">
  <div class="text">ferramentas e recursos</div>
  <div class="title">
    O que você pode fazer <br />
    com o audile?
  </div>
  <div class="contFullSlider">
    <div class="item">
      <div class="modelo">Estudo</div>
      <img src="./assets/images/icon-1.png" />
      <div class="textSlider">
        Escute quando não <br />
        puder ler
      </div>
      <div class="descriptionSlider">
        A gente sabe que nem sempre dá pra ler aquele texto que precisamos para
        o curso. Converta seus textos em áudio e estude mesmo quando não puder
        ler.
      </div>
    </div>
    <div class="item">
      <div class="modelo">Estudo</div>
      <img src="./assets/images/icon-1.png" />
      <div class="textSlider">
        Escute quando não <br />
        puder ler
      </div>
      <div class="descriptionSlider">
        A gente sabe que nem sempre dá pra ler aquele texto que precisamos para
        o curso. Converta seus textos em áudio e estude mesmo quando não puder
        ler.
      </div>
    </div>
    <div class="item">
      <div class="modelo">Estudo</div>
      <img src="./assets/images/icon-1.png" />
      <div class="textSlider">
        Escute quando não <br />
        puder ler
      </div>
      <div class="descriptionSlider">
        A gente sabe que nem sempre dá pra ler aquele texto que precisamos para
        o curso. Converta seus textos em áudio e estude mesmo quando não puder
        ler.
      </div>
    </div>
  </div>
</section>

<section id="planos">
  <div class="title">Escolha o melhor plano para você</div>
  <div class="text">
    Tenha a sua disposição, um serviço de texto para áudio fácil de usar e
    com<br />
    as melhores vozes do mercado!
  </div>
  <div class="contPlanosAdmin">
    <div class="pricing">
      <div class="plan">
        <h2>Plano</h2>
        <div class="price">FREE</div>
        <ul class="features">
          <li>3 Páginas por dia</li>
          <li>Baixe áudio em mp3</li>
          <li>Áudio de até 1 página</li>
          <li>2 Vozes</li>
        </ul>
      </div>
      <div class="plan popular">
        <span>Plano Recomendado</span>
        <h2>Pro</h2>
        <div class="price">R$ 19,00</div>
        <ul class="features">
          <li>3 Páginas por dia</li>
          <li>Baixe áudio em mp3</li>
          <li>Áudio de até 1 página</li>
          <li>2 Vozes</li>
        </ul>
        <button>Comprar</button>
      </div>
      <div class="plan">
        <h2>Anual</h2>
        <div class="price">R$ 89,00</div>
        <ul class="features">
          <li>3 Páginas por dia</li>
          <li>Baixe áudio em mp3</li>
          <li>Áudio de até 1 página</li>
          <li>2 Vozes</li>
        </ul>
        <button>Comprar</button>
      </div>
    </div>
  </div>
</section>

<section id="faq">
  <div class="title">FAQ - Perguntas frequentes</div>
  <div class="text">
    Tenha a sua disposição, um serviço de texto para áudio fácil de usar e
    com<br />
    as melhores vozes do mercado!
  </div>
  <details open>
    <summary>Como criar uma conta?</summary>
    <div class="faq__content">
      <p>
        Se você é assinante mensal do Soar, mas não deseja mais utilizar o plano
        de assinatura e não sabe como efetuar o cancelamento, é simples. Basta
        você fazer o login na plataforma acessando: Soar | Entrar . Ao efetuar o
        login.
      </p>
    </div>
  </details>
  <details>
    <summary>Como criar uma conta?</summary>
    <div class="faq__content">
      <p>
        Se você é assinante mensal do Soar, mas não deseja mais utilizar o plano
        de assinatura e não sabe como efetuar o cancelamento, é simples. Basta
        você fazer o login na plataforma acessando: Soar | Entrar . Ao efetuar o
        login.
      </p>
    </div>
  </details>
  <details>
    <summary>Posso usar o serviço antes de criar uma conta?</summary>
    <div class="faq__content">
      <p>
        Se você é assinante mensal do Soar, mas não deseja mais utilizar o plano
        de assinatura e não sabe como efetuar o cancelamento, é simples. Basta
        você fazer o login na plataforma acessando: Soar | Entrar . Ao efetuar o
        login.
      </p>
    </div>
  </details>
  <details>
    <summary>
      Sou Assinante, mas quero Cancelar o plano. Como devo proceder?
    </summary>
    <div class="faq__content">
      <p>
        Se você é assinante mensal do Soar, mas não deseja mais utilizar o plano
        de assinatura e não sabe como efetuar o cancelamento, é simples. Basta
        você fazer o login na plataforma acessando: Soar | Entrar . Ao efetuar o
        login.
      </p>
    </div>
  </details>
</section>

<section id="contato">
  <div class="contTextForm">
    <div class="contFull">
      <div class="title">Precisa de ajuda?</div>
      <div class="text">
        Nos envie uma mensagem <br />
        Ou envie email para aline@aline.com.br
      </div>
    </div>
  </div>
  <div class="contFormContact">
    <label> E-mail </label>
    <input placeholder="Qual seu e-mail?" />
    <label> Senha </label>
    <input placeholder="Crie uma senha" />
    <label> Mensagem </label>
    <textarea id="story" name="story" rows="5" cols="33">
      It was a dark and stormy night...
      </textarea
    >

    <div class="buttonDefault">
      <button>Enviar mensagem</button>
    </div>
  </div>
  <div class="protegido">
    Este site é protegido pelo reCAPTCHA e são aplicáveis ​​a Política de
    Privacidade e os Termos de Serviço do Google.
  </div>
</section>
